<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 bg-dark">
            <app-day-filter></app-day-filter>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1 menuwidth p-0">
            <app-menu></app-menu>
           
        </div>
        <div class="col-lg-6 offerwidth p-0 pt-1">
            <app-offer></app-offer>
           
        </div>
        <div class="col-lg-3 p-0 pt-1">
            <app-match-details></app-match-details>
        </div>
        <div class="col-lg-2 p-0 pt-1">
            <app-ticket></app-ticket>
        </div>
    </div>

</div>